{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content col-sm-offset-4 col-xs-offset-2">
        <div class="well col-sm-4 col-xs-10">
            <form class="form-horizontal" action="{{ path('index') }}" method="POST">
                <fieldset>
                    <div class="form-group">
                        <div class="col-xs-12 ">
                            <input type="text" class="form-control" id="myReset1" placeholder="Left Operand"
                                   name="calculator[leftOperand]" value="{{ calculator.leftOperand ?? '' }}"  onfocus="this.value=''">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4 ">
                            <select class="form-control" name="calculator[operator]">
                                <option value="+" {{ calculator is defined and calculator.operator == '+' ? 'selected' : '' }}>+</option>
                                <option value="-" {{ calculator is defined and calculator.operator == '-' ? 'selected' : '' }}>-</option>
                                <option value="*" {{ calculator is defined and calculator.operator == '*' ? 'selected' : '' }}>*</option>
                                <option value="/" {{ calculator is defined and calculator.operator == '/' ? 'selected' : '' }}>/</option>
                                <option value="^" {{ calculator is defined and calculator.operator == '^' ? 'selected' : '' }}>^</option>
                                <option value="AND" {{ calculator is defined and calculator.operator == 'AND' ? 'selected' : '' }}>AND</option>
                                <option value="OR" {{ calculator is defined and calculator.operator == 'OR' ? 'selected' : '' }}>OR</option>
                                <option value="XOR" {{ calculator is defined and calculator.operator == 'XOR' ? 'selected' : '' }}>XOR</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 ">
                            <input type="text" class="form-control" id="myReset" placeholder="Right Operand"
                                   name="calculator[rightOperand]" value="{{ calculator.rightOperand ?? '' }}"  onfocus="this.value=''">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-6 ">
                            <p>=</p>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-12 ">
                            <input type="text" class="form-control" id="myReset" placeholder="Result"
                                   name="result" value="{{ result ?? '' }}"  onfocus="this.value=''">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary">Calculate</button>
                            <button onclick="myFunction()" class="btn btn-primary reset">Reset</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script>
        function myFunction() {
            document.getElementById("myReset").value = " ";
            myFunction2();

        }
        function myFunction2() {
            document.getElementById("myReset1").value = "";
        }
    </script>
{% endblock %}
